body { background-color: black; }

content {
    display: block;
    padding-top: 300px;
    padding-left: 50px;
    padding-right: 50px;
    margin:auto;
}
content h1{
    line-height: 10px;
}
#exp_block {
    padding:5px;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 10px;
}
content p{
    line-height: 20px;
}
summary{
    outline:none;
    font-size: 24px;
    font-weight: bold;
}
details p{
    font-size: 16px;
    font-weight: normal;
}
summary p{
    font-size: 16px;
    font-weight: bold;
}

